### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [119]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data_df = pd.DataFrame(purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [120]:
screen_names = purchase_data_df["SN"].unique()

TotalPlayers = len(screen_names)

TotalPlayers_df = pd.DataFrame({"Total Players":[TotalPlayers]})

TotalPlayers_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [75]:

Basic_Calculations = pd.DataFrame({"Number of Unique Items":[len(purchase_data["Item ID"].unique())],"Average Price": ['${:,.2f}'.format(purchase_data["Price"].mean())],"Number of Purchase":[len(purchase_data["Purchase ID"].unique())],"Total Revenue":['${:,.2f}'.format(purchase_data["Price"].sum())]})
Basic_Calculations

   Number of Unique Items Average Price  Number of Purchase Total Revenue
0                     183         $3.05                 780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [121]:
TotalCount = purchase_data_df["Gender"].value_counts()
Gender_Demog_df = pd.DataFrame(TotalCount)
percentages = (Gender_Demog_df["Gender"]/Gender_Demog_df["Gender"].sum())*100
Gender_Demog_df["Percentages"] = percentages
Gender_Demog_df

                       Gender  Percentages
Male                      652    83.589744
Female                    113    14.487179
Other / Non-Disclosed      15     1.923077


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [122]:
#set count
purch_count = purchase_data_df["Gender"].value_counts()
# create new data set grouped by gender
purch_analysis_gb = purchase_data_df.groupby(["Gender"])
#calculate the average and total
purch_avg = purch_analysis_gb["Price"].mean()
purch_total = purch_analysis_gb["Price"].sum()
#create data frame to hold resuls
purch_analysis_df =  pd.DataFrame({"Purchase Count":purch_count,"Average Price":purch_avg,"Total of Purchases":purch_total})
purch_analysis_df['Average Total Purchase Per Person'] = purch_analysis_df['Total of Purchases'] / TotalPlayers
purch_analysis_df['Average Price'] = purch_analysis_df['Average Price'].map('${:.2f}'.format)
purch_analysis_df['Total of Purchases'] = purch_analysis_df['Total of Purchases'].map('${:,.2f}'.format)
purch_analysis_df['Average Total Purchase Per Person'] = purch_analysis_df['Average Total Purchase Per Person'].map('${:.2f}'.format)

purch_analysis_table

,Purchase Count,Average Price,Total of Purchases,Average Total Purchase Per Person
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [123]:
#set bins and groups
bins = [0,10,15,20,25,30,35,40,100]
ages = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]
#add age range to original data set
purchase_data_df['Age Range'] = pd.cut(purchase_data_df["Age"], bins, labels=ages)
#count unique purchases 
Age_count = purchase_data_df.groupby('Age Range')['SN'].nunique()
Age_count_df = pd.DataFrame(Age_count)
#rename column header (as the counts are stored in the 'SN' column)
Age_count_df =Age_count_df.rename(index=str, columns={"SN": "Total Count"})
#add Percentage column
Age_count_df ["Percentage of Players"] = round(Age_count_df ['Total Count']/TotalPlayers*100,2)
Age_count_df ["Percentage of Players"] = Age_count_df ["Percentage of Players"].map("{:.2f}%".format)

Age_count_df [['Percentage of Players','Total Count']]

          Percentage of Players  Total Count
Age Range
<10                       4.17%           24
10-14                     7.12%           41
15-19                    26.04%          150
20-24                    40.28%          232
25-29                    10.24%           59
30-34                     6.42%           37
35-39                     4.51%           26
40+                       1.22%            7

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [126]:
#new data set
purch_analysis_age = purchase_data_df.groupby(['Age Range']).agg({'Price': sum,'Age':'count'})
purch_analysis_age_df = pd.DataFrame(purch_analysis_age)
# rename columns
purch_analysis_age_df = purch_analysis_age_df.rename(columns={'Price':'Total Purchase Price'})
purch_analysis_age_df = purch_analysis_age_df.rename(columns={'Age':'Purchase Count'})
#format Total Purchase Price column
purch_analysis_age_df["Total Purchase Price"] = round(purch_analysis_age_df["Total Purchase Price"],2).map("${:.2f}".format)
#calculate average and reformat
purch_analysis_age_df["Average Purchase Price"] = round(purch_analysis_age_df['Total Purchase Price']/purch_analysis_age_df['Purchase Count'],2)
purch_analysis_age_df["Average Purchase Price"]= purch_analysis_age_df["Average Purchase Price"].map("${:.2f}".format)
# calculate avg purchase per person
purch_analysis_age_df["Average Total Purchase per person"] = round(purch_analysis_age_df['Total Purchase Price']/Age_count_df['Total Count'],2)
purch_analysis_age_df["Average Total Purchase per person"] = purch_analysis_age_df["Normalized Total"].map("${:.2f}".format)

purch_analysis_age_df

#i am not sure why this isnt working, it is not letting me divide

TypeError: ufunc 'true_divide' not supported for the input types, and the inputs could not be safely coerced to any supported types according to the casting rule ''safe''

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [130]:
#Calculate top spenders
top_spender = purchase_data_df.groupby('SN')['Price'].sum()
top_spender_df = pd.DataFrame(top_spender)
top_spender_count = purchase_data_df.groupby('SN')['Item Name'].count()
top_spender_count_df = pd.DataFrame(top_spender_count)
top_spender_count_df= top_spender_count_df.rename(columns={"Item Name": "Purchase Count"})
top_spender_price = pd.concat([top_spender_df,top_spender_count_df], axis=1)

#calculate averages

top_spender_price['Average Purchase Price'] = round(top_spender_price['Price'] / top_spender_price['Purchase Count'],2)
top_spender_price['Average Purchase Price'] = top_spender_price['Average Purchase Price'].map("${:.2f}".format)

top_spender_price_df = top_spender_price.rename(columns={"Price":"Total Purchase Value"})
top_spender_price_df["Total Purchase Value"]= round(top_spender_price_df["Total Purchase Value"],2)
top_spender_ordered = top_spender_price_df[['Purchase Count','Average Purchase Price','Total Purchase Value']]
top_spender_ordered['Total Purchase Value']= top_spender_ordered['Total Purchase Value']

# Top 5 spenders
top_spenders = top_spender_ordered.sort_values(by='Total Purchase Value', ascending=False)
top_five_spender = (top_spenders.nlargest(5, 'Total Purchase Value'))
top_five_spender_df = pd.DataFrame(top_five_spender)
top_five_spender_df['Total Purchase Value'] = top_five_spender_df['Total Purchase Value'].map("${:.2f}".format)
top_five_spender_df

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [147]:
#create df to hold count of items
pop_item = pd.DataFrame(purchase_data_df.groupby(['Item ID','Item Name',])['SN'].count())
#create df to hold purchase totals
pop_item_1 = pd.DataFrame(purchase_data_df.groupby(['Item ID','Item Name',])['Price'].sum())
#create new column to hold purchase count. this will be the SN column from the 1st df
pop_item_1['Purchase Count'] = pop_item['SN']
#Rename price column to read Total Purchase Value
#pop_item_1 = pop_item_1.rename(columns={"Price": "Total Purchase Value"}) I am not sure why this is not working

Most_Popular = pop_item_1.sort_values(by='Purchase Count', ascending=False)
Most_Popular['Price'] = Most_Popular['Price'].map("${:.2f}".format)
Most_Popular.head()

                                                       Price  Purchase Count
Item ID Item Name
178     Oathbreaker, Last Hope of the Breaking Storm  $50.76              12
145     Fiery Glass Crusader                          $41.22               9
108     Extraction, Quickblade Of Trembling Hands     $31.77               9
82      Nirvana                                       $44.10               9
19      Pursuit, Cudgel of Necromancy                  $8.16               8

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [150]:
Most_Profitable = pop_item_1.sort_values(by='Price', ascending=False)
Most_Profitable['Price'] = Most_Profitable['Price'].map("${:.2f}".format)
Most_Profitable.head()

                                                       Price  Purchase Count
Item ID Item Name
178     Oathbreaker, Last Hope of the Breaking Storm  $50.76              12
82      Nirvana                                       $44.10               9
145     Fiery Glass Crusader                          $41.22               9
92      Final Critic                                  $39.04               8
103     Singed Scalpel                                $34.80               8

In [ ]:
#Trend Analysis

#1) Majority of users are male, and between 20-24
#2) Average amount spent per transaction is uniform across all age groups which leads me to believe that most items are purchased
# one at a time
#3) with 576 users and only 780 purchases. most people are not repeat buyers and stop after one purchase